/*@font-face {
    font-family: "avenger";
    src: url('AVENGEANCE MIGHTIEST AVENGER.otf');
}
*/
@font-face {
    font-family: "wright";
    src: url('CharlesWright-Bold.otf');
}

@font-face {
    font-family: "laybar";
    src: url('LAYBAR.ttf');
}

@font-face {
    font-family: "pop";
    src: url('60s\ Pop.otf');
}

* {
    font-family: wright;
}

html{
    overflow-x: hidden;
    background-position-x: fixed;
}

body {
    background-image: url('bg.png');
    background-size: cover;
}

h1 {
    font-family: laybar;
    font-size: 50px;
    margin: 30px 10px;
    font-weight: 200;
    z-index: 30;
    /*color: rgb(255, 255, 255);
    color: rgb(111, 220, 111);
    background-color:rgb(87, 26, 152);*/
    background: white;
    filter: drop-shadow(rgb(55, 135, 74) 10px 6px 0px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    width: 10%;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.addTime {
    padding: 20px 10px;
    border-radius: 20px;
    margin: 2rem;
    width: 90%;
    background: linear-gradient(to right,rgb(227, 72, 5) 2%,rgb(243, 166, 79));
    border: white 3px solid;
}

.addTime p{
    color: white;
    font-size: 30px;;
}
.red {
    background-color: rgb(221, 19, 19);
}
.blue {
    background-color: rgb(19, 112, 234);
}
.block {
    background: linear-gradient(rgb(222, 70, 0) 5%,rgb(243, 166, 79));
    filter: drop-shadow(rgb(55, 135, 74) 20px 20px);
    padding: 2% 3%;
    width: 60%;
    border-radius: 50px;
    border: white 3px solid;
    z-index: 2;
    overflow-x: hidden;
}

#add {
    margin-left: 28%;;
}
#leaderboard { 
    background-color:rgb(255, 255, 255);
    width: 60%;
    border-spacing: 0px;
}
#leaderboard td {
    font-size: 14px;
    text-align: center;
}
#leaderboard th {
    background: linear-gradient(#37874a, rgb(105, 180, 105));
    font-size: 14px;
    color: white;
    font-weight: 100;
    font-family: laybar;
}
/*
#add_btn {
    background:linear-gradient(rgb(55, 135, 74), rgb(105, 180, 105));
    border: none;
    padding: 14px 24px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
}
#add_btn:hover {
    background: linear-gradient(#69b469, rgb(204, 240, 141));
    transform: scale(1.1);
}*/

#top10 {
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    padding: 10px;
    width: 300px;
    transform: skew(-10deg);
    color: white;
    font-family: pop;
    font-weight: 100;
    font-size: 30px;
    margin: 4% 5%;
}
/* Core functionality */
#animated-text-strip{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
#animated-text-strip .marquee {
  white-space: nowrap;
  animation: marquee 5s linear infinite;
  max-width: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Styles for the sake of the demonstration */
#animated-text-strip{
  padding: 1rem 0;
}
.marquee{
  font-family: laybar;
  padding: 1.5rem;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  opacity: 0.7;
}

.block2 {
    background: linear-gradient(white 70%, rgba(255, 255, 255, 0.393));
    padding: 2rem;
    margin: 10px -10px;
}

#newRec1 {
    font-size: 24px;
    color: white;
    background: linear-gradient(rgb(55, 135, 74), rgb(105, 180, 105));
    padding: 1rem;
    border-radius: 20px;
    font-style: italic;
}

button {
    border: none;
    background-color: #37874a;
    color: white;
    transition: 0.2s;
}
button:hover{
    background-color: #69b469;
}

/*Game html*/
.body2 {
    background-image: url('bg_game.png');
    background-size: cover;
    margin: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.circular_race{
    width: 240px;
    z-index: 10;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

#results{
    background: linear-gradient(to right, rgb(55, 135, 74), rgb(105, 180, 105));
    padding: 2rem;
    border: none;
    transform: skew(-4deg);
    border-spacing: 1rem;
    filter: drop-shadow(black 15px 15px 0px);
}
#results td{
    background: linear-gradient(to right, white 70%, rgba(255, 255, 255, 0));
    padding: 10px;
}

#results input{
    background:none;
}
.gold {
    background: linear-gradient(-45deg,rgb(255, 233, 32),rgb(246, 164, 0), rgb(252, 255, 82) 80%);
    transform: scale(1.2);
    filter: drop-shadow(rgba(255, 135, 15, 0.636) 5px 5px 0px);
    border: 8px double rgb(100, 50, 11);
}
.silver {
    background: linear-gradient(-45deg,rgb(184, 186, 192),rgb(108, 108, 114), rgb(237, 237, 237) 80%);
    transform: scale(1.2);
    filter: drop-shadow(rgba(154, 159, 202, 0.636) 5px 5px 0px);
    border: 8px double rgb(48, 52, 65);
}
.btn {
    background:linear-gradient(rgb(55, 135, 74), rgb(105, 180, 105));
    padding: 22px;
    border-radius: 40px;
    margin: 1rem;
    filter: drop-shadow(black 5px 5px 0px);
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
}
.btn:hover {
    background: linear-gradient(#69b469, rgb(204, 240, 141));
    transform: scale(1.1);
}
