input {
    width: 10%;
    padding: 3px;
    font-size: 18px;
}
.addTime {
    padding: 30px 20px;
    border-radius: 20px;
    margin: 3% 1%;
    /*width: 90%;*/
    background: linear-gradient(to right,rgb(227, 72, 5) 50%,rgb(243, 166, 79))
}
.red {
    background-color: rgb(221, 19, 19);
}
.blue {
    background-color: rgb(19, 112, 234);
}
.leaderboard {
    background-color: aliceblue;
    height: 240px;
}

#add {
    margin-left: 28%;;
}